.card-header {
    color:#fff;
    background: linear-gradient(to right, #2980b9, #2c3e50);
    fieldset{
        border:1px solid black;
        margin: 5px;
        padding: 12px;
        display:flex;
        .block {
            margin:7px;
        }
        legend{
            color:black;
            font-size: 12px;
            display:inline-block;
            padding:6px;
            text-align: center;
            width:auto;
        }
    }
    
}
.card{
    border:none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}
.list-block {
    display:flex;
    justify-content: center;
    align-items: center;
    &__buttons {
        display:flex;
    }
    &__content {
        display:flex;
        flex-direction: column;
        small {
            color: gray;
            font-style: italic;
            font-size:  70%;
        }
    

    }
}
.navbar { 
    background: linear-gradient(to right, #2980b9, #2c3e50);
    
    
    .navbar-toggler-icon {
        color:#fff;
    }
}
.navbar-brand {
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.fa-navicon {
    color:#fff;

}
html,
body {
  height: 100%;
}

/* Demo styling  */

.btn_group {
    color:#fff;
}
.booktr,.authortr {
    background: linear-gradient(to right, #2980b9, #2c3e50);
    color:#fff;

}
.table {
    text-align:center;
}
// td {
//     text-align: center;
//     vertical-align: middle;
// }
.row-center {
    justify-content: center;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.authortr{
    background: linear-gradient(to right, #2980b9, #2c3e50);
    color:#fff;
}